footer
    padding: 12px 16px
    background-color: var(--color-border)
    .footer_legal
        padding-bottom: 8px
        display: flex
        flex-direction: column
    .copyright
        padding: 8px 0 12px 0