.h_menu
    height: calc(72px - 40px)
    padding: 20px 16px
    display: flex
    justify-content: space-between
    align-items: center
    box-shadow: 0 3px 10px var(--color-bg-icon-aktive)
    position: relative
    z-index: 15
    &_left
        width: 30%
    &_center
        width: 60%
        text-align: center
    &_right
        width: 30%
        display: flex
        justify-content: flex-end
    &_select_lang
        display: none
    &_logo-text
        display: none
.h_info_restaurant
    display: flex
    flex-direction: column
.h_img
    height: 144px
    width: 100%
    object-fit: cover
    z-index: 16

.h_restaurant
    max-width: 960px
    padding: var(--padding-0-16px)
    translate: 0 -25%
    z-index: 17

.h_restaurant_logo
    position: relative
    .h_pizza-logo
        border: 1px solid var(--color-border)
        border-radius: 20px
        background-color: var(--color-border)
        width: 100%
        height: 100%
        object-fit: cover 

.h_resturant_card
    min-height: calc(140px - 48px)
    padding: 24px 0
    display: flex
    justify-content: space-between
    position: relative
    .h_rest_left
        height: 90px
        display: flex
        flex-direction: column
        justify-content: space-between
        .h_rest_evaluation
            margin-top: 16px
            .h_rest_prerequisite
                gap: 3px
            .h_res_delivery
                margin-top: 8px
                display: flex
    .h_res_right
        gap: 8px
        display: flex
        justify-content: flex-end

@media screen and ( min-width: 720px )
    .h_menu
        &_logo
            display: none
        &_logo-text
            display: flex
        &_select_lang
            display: flex
    .h_img
        height: 320px

@media screen and ( min-width: 1340px )
    .h_info_restaurant
        align-items: center
    .h_restaurant
        width: 960px