.h_menu
    height: calc(72px - 40px)
    padding: 20px 16px
    display: flex
    justify-content: space-around
    align-items: center

.h_img
    height: 144px
    width: 100vw
    object-fit: cover

.h_resturant
    padding: 0 16px
    .h_rest_left
        height: 90px
        display: flex
        flex-direction: column
        justify-content: space-between
