nav
    height: 56px
    background-color: var(--color-bg-header)
    padding: var(--padding-0-16px)
    position: sticky
    top: 0
    display: flex
    align-items: center
    z-index: 10
    box-shadow: 0 5px 5px var(--color-bg-icon-hover)

.nav_section
    max-width: 960px
    width: 100%
    display: flex
    align-items: center
    &_icon
        width: 32px
        justify-content: center
#navbar
    display: flex
    overflow-x: scroll

    ul
        display: flex
        list-style: none

        .nav_div
            height: 32px
            padding: 5px 12px
            display: flex
            justify-content: center
            align-content: center

            a
                display: flex
                justify-content: center
                align-items: center

@media screen and ( min-width: 1340px )
    nav
        justify-content: center
    .nav_section
        width: 960px